<p style="color: green"><%= notice %></p>

<h1>Calcs</h1>

<div id="calcs">
  <% @calcs.each do |calc| %>
    <div>
      <%= render calc %>
      <p>
        <%= link_to "Show this calc", calc %>
      </p>
      <p>
        Запись пользователя
        <%= link_to "#{User.find(calc.user_id).username}", User.find(calc.user_id) %>
      </p>
    </div>
  <% end %>
</div>

<p><%= link_to "New calc", new_calc_path %></p>
<p><%= link_to "Go to login page", root_path %></p>